:host.submenu ul{
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 0;
 }


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #555;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
 }

 ul li{
   cursor: pointer;
   position: relative;
 }

@media all and (max-width: 800px) {
  ul {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  ul {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  ul li {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  ul li:last-of-type a {
    border-bottom: none;
  }
}
